<footer class="bg-light text-center text-lg-start mt-auto pt-4">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Learnify</h5>
                <p>
                    Connecting passionate educators with eager learners.
                </p>
            </div>

            <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled mb-0">
                    <li><a href="index.html" class="text-dark">Home</a></li>
                    <li><a href="teachers.html" class="text-dark">Teachers</a></li>
                     <li><a href="featured-teachers.html" class="text-dark">Featured</a></li>
                    <li><a href="about.html" class="text-dark">About</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Legal</h5>
                <ul class="list-unstyled mb-0">
                    <li><a href="#!" class="text-dark">Terms & Conditions</a></li>
                    <li><a href="#!" class="text-dark">Privacy Policy</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Connect</h5>
                <a href="#" class="me-2" style="color: #3b5998;"><i class="fab fa-facebook"></i></a>
                <a href="#" class="me-2" style="color: #0088cc;"><i class="fab fa-telegram-plane"></i></a>
                <a href="#" style="color: #665cac;"><i class="fab fa-viber"></i></a>
            </div>
        </div>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2025 Learnify. All Rights Reserved.
    </div>
</footer>